@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
@font-face {
    font-family:'Gilroy';
    src: url('Gilroy-Regular.ttf');
    
}
@font-face {
    font-family:'Gilroy-bold';
    src: url('Gilroy-Bold.ttf');    
}

@font-face {
    font-family:'Gilroy-semibold';
    src: url('Gilroy-SemiBold.ttf');    
}

@font-face {
    font-family:'Gilroy-medium';
    src: url('Gilroy-Medium.ttf');    
}

body {
    width: inherit;
    background-color: #ffffff;
}

.logo-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo-container{
    display: flex;
    flex-direction: row;
    border: 1px solid #F0F1F1;
    background:#F9F7F5;
    border-radius: 12px;
    padding: 8px 36px 8px 8px;
    margin-left: 8px;
}

.logo-container > div {
    margin-top: 8px;
    margin-left: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.02em;

}

.lefthead-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.lefthead-container > div {
    gap: 8px;
}

.profile{
    display: flex;
    flex-direction: row;
    padding-left: 8px;
    align-items: center;
}

.profile > div{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.02em;
}

.drop{
    height: 8px;
    width: 8px;
}

#circle {
    background: lightblue;
    border-radius: 50%;
    width: 28px;
    height: 28px;
}

.sidenav {
    margin-top: 72px;
    height: 100%;
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: #F9F7F5;
    overflow-x: hidden;
    padding-top: 64px;
}

a > img{
    margin-right: 4px;
}
  
.sidenav a {
    padding: 6px 6px 16px 32px;
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #384747;
    display: block;
    align-items: center;
    margin-top: 12px;
}
.job-active{
    border: 1px solid #F1EAE4;
    margin-left: 2px;
    margin-right: 32px;
    background: #F1EAE4;
    border-radius: 12px;
}

.main{
    padding-left: 18%;
    padding-right: 2%;
    padding-top: 48px;
}

.align {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.job-prop {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 100%;
  display: flex;
  align-items: flex-end;
  letter-spacing: -0.01em;
  padding-bottom: 4px;
}







.cont {
    text-align: center; 
}

.line {
    margin-top:0;
    height: 1px;
    width: 100%;
    background: #D6DBDB;
}



.main-container{
    margin-top: 60px;
    display: flex;
    gap: 32px;
    
}

.left-container{
    width: 75%;
}

.left-head{
    margin-top: 8px;
}

.left-head > .h{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: -0.02em;
    font-feature-settings: 'zero' on;
    color: #000000;
}

.left-head > .p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 165%;
    color: #788787;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
}

.grid{
    background: #FFFFFF;
    border: 1.2px solid #F0F1F1;
    border-radius: 16px;
    padding: 16px;
    position: relative;
    
}

.date-time{
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 120%;
    letter-spacing: -0.02em;
    font-feature-settings: 'zero' on;
    color: #788787;
    margin-top: 128px;


}

.event-det{
    margin-bottom: 128px;
}

.event-det > .h{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    font-feature-settings: 'zero' on;
    color: #000000;
}

.event-det > .p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #788787;
}

.cap{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 84px;
}

.cap > div{
    border: 1px solid #384747;
    border-radius: 12px;
    padding: 4px 6px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #384747;
}

.LRS{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 170%;
    letter-spacing: 0.02em;
    color: #384747;
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}

.LR{
    display: flex;
    flex-direction: row;
    gap: 12px;

}

.LR > div{
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
}

.share{
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
    position: absolute;
    right: -96px;
}

.grid-bottom{
    position: absolute;
    bottom: 10px;
}

.right-container{
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 32px;
}

.gcc{
    border: 1.2px solid #F0F1F1;
    border-radius: 16px;
}

.gccc{
    width: 100%;
}

.gccp{
    position: absolute;
    object-fit: fill;
    border-radius: 16px 16px 0 0;
}

.gcl{
    position: relative;
    top: 76px;
    left: 16px;
   
    border-radius: 4px;
}

.giscan{
    margin-top: 32px ;
    margin-left: 96px;
    color: #000000;
    padding: 2px 16px 16px 2px;
}

.giscan > .h{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: -0.01em;
    color: #384747;
}

.giscan > .p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 0.02em;
    color: #788787;
}

.giscan > .p > span{
    font-style: italic;
    color: #000000;
}

.community-info{
    background: #F9F7F5;
    width: 100%;
    border-radius: 12px;
    margin-right: 4px;
    margin-bottom: 8px;
    padding-top: 2px;    
}

.community-info > p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}


.community-container {
    display: flex;
    flex-direction: column;
}

.member > p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -0.01em;
    margin-left: 12px;
} 

.member > p > span{
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 170%;
letter-spacing: 0.02em;
color: #384747;
}

.perks > p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -0.01em;
    margin-left: 12px;
} 

.perks > p > span{
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 170%;
letter-spacing: 0.02em;
color: #384747;
}

.total-member-perks {
    display: flex;
    flex-direction: row;
}

.media {
    display: flex;
    flex-direction: row;
}

.member{
      background: #FFFFFF;
      margin-right: 0px;
      margin-left: 4px;
      width: 50%;
      padding: 0 0 0 0;
}

.perks{
    background: #FFFFFF;
    width: 50%;
    margin-left: 2px;
    margin-right: 4px;
    width: 50%;
    padding: 0px 0px 0 0;
}

.social-icon{
    background: #FFFFFF;
    width: 25%;
    text-align: center;
    margin: 2px;
    height: 48px;
    padding-top: 18px;
}

.social-icon > img{
    height: 24px;
    width: 24px;
    
}

.instagram{
    background: #FFFFFF;
    width: 25%;
    text-align: center;
    margin: 2px;
    padding-top: 18px;
}

.instagram > img{
    height: 20px;
    width: 20px;
}

.visit-website{
    background: #FFFFFF;
    padding:2px;
    margin: 2px;
    margin-bottom: 2px;
    border-radius: 0 0 12px 12px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #384747;
}

.members-list{
    background: #F9F7F5;
    width: 100%;
    border-radius: 12px;
    margin-right: 4px;
     
}

.members-list >.head-flex{
    display: flex;
    gap: 8px;
}

.members-list >.head-flex > p {
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
}

.members-container{
    background: #FFFFFF;
    margin: 0 2px 2px 3px;
    border-radius: 0 0 12px 12px;
}

#circle {
    background: lightblue;
    border-radius: 50%;
    width: 28px;
    height: 28px;
}

.verified {
    height: 18px;
    width: 18px;
    padding-top: 4px;
    padding-left: 4px;
}

.cp{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 8px;
    gap: 10px;
}

.cp1{
background: #D1F2FA;
padding: 4px;
border: 1px solid #FFFFFF;
border-radius: 8px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 10px;
line-height: 12px;
letter-spacing: 0.08em;
color: #003870;
}

.a{
    padding-top: 8px;
    padding-left: 4px;
}

a{
font-family: 'Inter';
font-style: italic;
font-weight: 400;
font-size: 12px;
line-height: 15px;
letter-spacing: -0.02em;
text-decoration-line: underline;
font-feature-settings: 'pnum' on, 'lnum' on;
color: #384747;    
}

.members{
    display: flex;
    flex-direction: row;
    padding: 8px 8px 8px 8px;
}

.members-name{
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.01em;
padding-left: 8px;
padding-top: 4px;
}

.footer{
    display: flex;
    justify-content: space-between;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #788787;
    padding: 10px 1% 20px 16%;
    margin-bottom: 10px;
}

.left-foot{
    display: flex;
    gap: 48px;
}

.ilf{
    display: flex;
    gap: 12px;
}

.right-foot{
    display: flex;
    gap:12px;
}

.join-talent{
    display: flex;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-decoration-line: underline;
    color: #0045F6;
}